body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:lightblue;
}

.calculadora{

    width: 300px;
    outline: solid;
    outline-color: black;
    padding: 2%;
    background-color: dimgrey;
    border-radius: 4%;

}

.tecla{

    width: 60px;
    margin: 2px 0;
    text-align: center;
    background-color:lightyellow;
    border-width: 1px;
    box-shadow: inset 0 0 3px black;
    border-radius: 8px;
    

}

.tecla:active{
    background-color:sandybrown;
}

.teclas{
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}


.tecla{
    padding: 10px;
    font-size: 3em;
    
}

.tecla-com{
    font-size: 2em;
    margin: 2px 0;
    flex-grow: 1;
    background-color:lightcoral;
    border-width: 1px;
    box-shadow: inset 0 0 3px black;
    border-radius: 8px;
}

#teclas-comando{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 8px;
    
    
}
#teclado-numerico{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: space-evenly;
    padding-top: 2%;
    flex-direction: row-reverse;
            
}

#tela-calculadora{
    width: 98%;
    margin: 0;
    font-size: 3em;
    border: solid 2px ;
    border-radius: 8px;
    text-align: end;
}

#tecla-igual, #tecla-apagar{
    background-color:slategrey;
    color:  white;
    box-shadow: inset 0 0 3px black;
    
}

#tecla-igual:active, #tecla-apagar:active{
    
}


