body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora{

    width: 300px;
    outline: solid;
    outline-color: lightslategrey;
    padding: 2%;

}

.tecla{

    width: 60px;
    margin: 2px 0;
    text-align: center;

}

.teclas{
    display:  flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}


.tecla{
    padding: 10px;
    font-size: 3em;
    
}

.tecla-com{
    font-size: 2em;
    margin: 2px 0;
    flex-grow: 1;
}

#teclas-comando{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 8px;
    
    
}
#teclado-numerico{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    justify-content: space-evenly;
    padding-top: 2%;
            
}

#tela-calculadora{
    width: 98%;
    margin: 0;
    font-size: 3em;
}

